$color-dark-blue : #3062c7;
$color-light-blue: #2bb7ca;
$color-md-yellow:#cab22b;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;