<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/bloodhound.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.jquery.min.js"></script>
<script type="text/babel" src="../public/webpack/notifications.js"></script>
<script type="text/babel" src="../public/webpack/app.js"></script>
<script>$(function () {$('[data-toggle="tooltip"]').tooltip()})</script>

<div id="app" > </div>

<br>
<br>
<br>

<div class="modal fade" id="UploadImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered form-dark" role="document">
        <div class="modal-content card card-image" style="background-color: burlywood">
            <div class="modal-header  text-center pb-4">
                <h3 class="modal-title w-100 white-text font-weight-bold" id="exampleModalLongTitle"><strong>Upload
                        Profile Image</strong>
                </h3>
                <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="profileImgForm" enctype="multipart/form-data">
                    <div class="input-group form-group">
                        <!-- <label class="control-label">A file upload button without icon</label> -->
                        <input data-icon="false" type="file" id="profImgUploadField" name="profileImg" />
                    </div>

                    <div class="form-group">
                        <button type="Submit" id="uploadProfileImgUploadBtn"
                            class="btn float-right btn-secondary disabled">Submit</button>
                    </div>
                </form>
                <!-- <div class="modal-footer">
                    <button id='rjct-btn' type="button" class="btn btn-secondary" data-dismiss="modal">Maybe
                        later</button>
                    
                </div> -->
            </div>
        </div>
    </div>
</div>


<!-- action="/api/post-profile-img" -->
<script>
    $("#profImgUploadField").on('change', () => {
        if ($("#profImgUploadField").val() == "") {
            $("#uploadProfileImgUploadBtn").removeClass("btn-success");
            $("#uploadProfileImgUploadBtn").addClass("btn-secondary");
            $("#uploadProfileImgUploadBtn").addClass("disabled");
        }
        else {
            $("#uploadProfileImgUploadBtn").removeClass("btn-secondary");
            $("#uploadProfileImgUploadBtn").addClass("btn-success");
            $("#uploadProfileImgUploadBtn").removeClass('disabled');
        }
    });
    $("#profileImgForm").submit(function (event) {
        event.preventDefault();
        if ($('#profImgUploadField').val() == '') {
            console.log('no file yo!');
            return false;
        }
        let form = $('#profileImgForm')[0];
        let profileImgData = new FormData(form);
        $.ajax({
            url: '/api/post-profile-img',
            method: 'POST',
            type: 'POST',
            enctype: 'multipart/form-data',
            data: profileImgData,
            cache: false,
            processData: false,
            contentType: false,
            success: function (res) {
                console.log("RESSS", res);
                $('#profImgUploadField').val('');
                $('#UploadImageModal').modal('toggle');
                socket.emit('userChangedPhoto', { userId: res.id });
                // client.emit('newGroupMessageReceived', newMsgDetails.message);
            },
            error: function (error) {
            }
        })
    });
</script>