@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }

  80% {
    transform: translateX(15%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }

  80% {
    transform: translateX(-15%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  80% {
    transform: translateY(15%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes rotateViolently {
  0% {
    transform: rotate(10deg);
  }

  20% {
    transform: rotate(-10deg), scale(1.1);
  }

  40% {
    transform: rotate(20deg) scale(1.2);
  }

  50% {
    transform: rotate(-20deg) scale(1.4);
  }

  55% {
    transform: rotate(-25deg) scale(1.5);
  }
  60% {
    transform: rotate(20deg) scale(1.4);
  }

  65% {
    transform: rotate(-25deg) scale(1.4);
  }

  70% {
    transform: rotate(20deg) scale(1.3);
  }

  80% {
    transform: rotate(-25deg) scale(1.2);
  }
  90% {
    transform: rotate(20deg) scale(1.1);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}
